.container_menulat{
    background-color: #4282FF;
    height: 100vh;
    width: 220px;
    float: left;
    display: flex;
    position: fixed;
    align-content: center;
}

.container_menulat button{
    color: white;
    background-color: #4282FF;
    cursor: pointer;
    
}

.container_menuzinho{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    margin-bottom:300px;
    text-align-last: center;
}

.container_menuzinho a{
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 36px;
    border: none;
    color: white;
}

.sair{
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 36px;
    border: none;
    color: white;
}


@media only screen and (max-width: 1000px){
    .container_menuzinho a{
        font-size: 23px;
    }
    .sair{
        font-size: 23px;
    }

    
}

@media only screen and (max-width: 800px){
    .container_menulat{
        width: 100%;
        height: 50px;
    }

    .container_menuzinho{
        flex-direction: row;
        margin:0px;
        justify-content: space-around;
    }

    .container_menuzinho a{
        margin: 0px;
    }
    .sair{
        margin: 0px;
        align-self: center;
        margin-bottom: 2px;
    }
}